<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="POST" action="/piglatinize">
    <label for="user_input">Enter your phrase:</label>  
    <p> TEXT HERE: <input type="text" id="user_input" name='user_phrase'></p>
      <input type="submit" name="Submit">
    </form>
  </body>
</html>